@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
  }
  
  
  .App {
    @include flex(column, flex-start, center);
  
    .App__Picture-Display {
      width: 300px;
    }
    .App__Error {
      color: salmon;
    }
  }