@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}


.Picture-Page {
    @include flex(column, flex-start, center);
    .Picture-Page__Picture {
        width: 300px;
    }
}
